<a href="https://colab.research.google.com/github/sai233023/hello-world/blob/master/Simple_Clasification_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
from google.colab import drive

In [3]:
drive.mount('drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at drive

In [0]:
#reading Train data 
train_data=pd.read_csv("drive/My Drive/NO mads Classification/train.csv",header=None)

In [22]:
train_data.head()

   0   1   2   3   4   5   6   7   8   ...  57  58  59  60  61  62  63  64  65
0 -47   0  -5 -27 -11 -19  -2 -33  37  ...   2  -4  -3   4 -23 -68  15   C   0
1   1   1  -2  -3  -1  -3  39  10   0  ...  -2   1   6  -2   4  22   2   C   0
2   1  -4  -2  -6 -20  20  -1  -3  20  ...   2  -2   0  23  21  -3  22   A   1
3  10   2   1  -7  -8  12  41  21 -14  ...   1   2  -2  -8 -29  29   7   C   0
4   1  -3  -2  -6   1   0  10  -6   4  ...   0  -3  -8 -11  -2  19   4   C   0

[5 rows x 66 columns]

In [0]:
#reading test data
test_data=pd.read_csv("drive/My Drive/NO mads Classification/test.csv",header=None)

In [24]:
test_data.shape

(3000, 66)

In [25]:
test_data.head()

   0   1   2   3     4     5     6     7   ...  58  59  60  61  62  63  64  65
0 -47   0  -5 -27 -11.0 -19.0  -2.0 -33.0  ...  -4  -3   4 -23 -68  15   A   0
1   1   1  -2  -3  -1.0  -3.0  39.0  10.0  ...   1   6  -2   4  22   2   C   0
2   1  -4  -2  -6 -20.0  20.0  -1.0  -3.0  ...  -2   0  23  21  -3  22   B   1
3  10   2   1  -7  -8.0  12.0  41.0  21.0  ...   2  -2  -8 -29  29   7   B   0
4   1  -3  -2  -6   1.0   0.0  10.0  -6.0  ...  -3  -8 -11  -2  19   4   C   0

[5 rows x 66 columns]

In [7]:
train_data.shape

(8677, 66)

In [0]:
#train_data.isnull().sum()

In [26]:
train_data.head()

   0   1   2   3   4   5   6   7   8   ...  57  58  59  60  61  62  63  64  65
0 -47   0  -5 -27 -11 -19  -2 -33  37  ...   2  -4  -3   4 -23 -68  15   C   0
1   1   1  -2  -3  -1  -3  39  10   0  ...  -2   1   6  -2   4  22   2   C   0
2   1  -4  -2  -6 -20  20  -1  -3  20  ...   2  -2   0  23  21  -3  22   A   1
3  10   2   1  -7  -8  12  41  21 -14  ...   1   2  -2  -8 -29  29   7   C   0
4   1  -3  -2  -6   1   0  10  -6   4  ...   0  -3  -8 -11  -2  19   4   C   0

[5 rows x 66 columns]

In [0]:
#converting the Dependent column in to Category type , so that we can classify the label from all our Independent columns
train_data[65]=train_data[65].astype('category')

In [41]:
train_data[64].describe()

count     8678
unique       4
top          D
freq      2202
Name: 64, dtype: object

In [0]:
# using label encoder to column number 64 as it is order wise categry values
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()
train_data[64] = le.fit_transform(train_data[64])

In [46]:
train_data[64].describe()

count    8678.000000
mean        1.510371
std         1.119595
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         3.000000
Name: 64, dtype: float64

In [37]:
train_data[65].describe()

count     8678
unique       4
top          2
freq      2202
Name: 65, dtype: int64

In [0]:
#taking all independent columns in to X variable
X=train_data.loc[:, train_data.columns != 65]

In [0]:
#label column in to y variable

y=train_data[65]

In [49]:
#splitting our data in to train and test split to check the accuracy
from sklearn.model_selection  import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

/usr/local/lib/python3.6/dist-packages/sklearn/externals/six.py:31: DeprecationWarning: The module is deprecated in version 0.21 and will be removed in version 0.23 since we've dropped support for Python 2.7. Please rely on the official version of six (https://pypi.org/project/six/).
  "(https://pypi.org/project/six/).", DeprecationWarning)

In [53]:
#used logistic regression to predict the label column
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn import metrics
logsk = LogisticRegression()
logsk.fit(X_train,y_train)
y_pred_class = logsk.predict(X_test)
print(classification_report(y_test, y_pred_class))

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

              precision    recall  f1-score   support

           0       0.90      0.73      0.81       565
           1       1.00      1.00      1.00       509
           2       1.00      1.00      1.00       558
           3       0.77      0.92      0.83       538

    accuracy                           0.91      2170
   macro avg       0.92      0.91      0.91      2170
weighted avg       0.92      0.91      0.91      2170

In [55]:
test_data.head()

   0   1   2   3     4     5     6     7   ...  58  59  60  61  62  63  64  65
0 -47   0  -5 -27 -11.0 -19.0  -2.0 -33.0  ...  -4  -3   4 -23 -68  15   A   0
1   1   1  -2  -3  -1.0  -3.0  39.0  10.0  ...   1   6  -2   4  22   2   C   0
2   1  -4  -2  -6 -20.0  20.0  -1.0  -3.0  ...  -2   0  23  21  -3  22   B   1
3  10   2   1  -7  -8.0  12.0  41.0  21.0  ...   2  -2  -8 -29  29   7   B   0
4   1  -3  -2  -6   1.0   0.0  10.0  -6.0  ...  -3  -8 -11  -2  19   4   C   0

[5 rows x 66 columns]

In [0]:
# using label encoder to column number 64 as it is order wise categry values
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()
test_data[64] = le.fit_transform(test_data[64])

In [58]:
test_data.isnull().sum()

0     0
1     0
2     0
3     0
4     1
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    0
13    0
14    2
15    0
16    0
17    3
18    1
19    1
20    0
21    0
22    1
23    0
24    0
25    0
26    0
27    0
28    0
29    0
     ..
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
57    0
58    0
59    0
60    0
61    0
62    0
63    0
64    0
65    0
Length: 66, dtype: int64

In [0]:
#dropiing null values in test data
test_data=test_data.dropna(axis=0)

In [0]:
y_pred_class = logsk.predict(test_data.loc[:, train_data.columns != 65])

In [0]:
y_pred_class=pd.DataFrame(y_pred_class)

In [64]:
y_pred_class

      0
0     1
1     3
2     3
3     3
4     0
5     2
6     0
7     3
8     3
9     0
10    2
11    3
12    0
13    2
14    2
15    2
16    0
17    2
18    1
19    3
20    3
21    2
22    1
23    0
24    3
25    1
26    3
27    1
28    2
29    2
...  ..
2959  0
2960  0
2961  1
2962  0
2963  0
2964  1
2965  2
2966  2
2967  1
2968  1
2969  1
2970  2
2971  0
2972  3
2973  3
2974  0
2975  1
2976  2
2977  1
2978  3
2979  1
2980  1
2981  0
2982  3
2983  3
2984  2
2985  2
2986  3
2987  3
2988  2

[2989 rows x 1 columns]